

<div class="ml-5 mt-5">

<img src="{{book.imgPath}}" alt="{{book.imgName}}" srcset="">
<h1>{{book.title}}</h1>

<p>Summary: {{book.description}}</p>
<p>Rating: {{book.rating}}</p>

{{#if isUserBook}}
<a href="/books/edit/{{book._id}}">Edit this book</a>

<a href="/books/delete/{{book._id}}" class="ml-5">Delete this book</a>

<a href="/books" class="ml-5">Back to the Books</a>

{{else}}
  <a href="/books">Back to the Books</a>
{{/if}}

</div>
